body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  margin: auto;
  font-weight: 600;
}

p {
  background-color: lightgray;
  padding: 20px 30px 10px 25px;
}

h1 {
  padding: 20px 30px 10px 25px;
  margin: 0;
  font-size: 32pt;
  margin-left: 350px;
}

h3,
.ferramentas {
  text-transform: none;
  font-style: italic;
  font-weight: bold;
  color: black;
}

ul li {
  list-style-type: disc;
  margin-left: 420px;
}

.funcao {
  margin-left: 480px;
  margin-top: -10px;
}

.destaque {
  background-color: chartreuse;
  font-size: 24px;
}

.tamanho {
  width: 400px;
  height: 200px;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

a:link {
  color: red;
}

a:visited {
  color: blue;
}

a:hover {
  background-color: darkgray;
}

a:active {
  background-color: yellow;
}

li {
  list-style-type: square;
}


ol li {
  list-style-type: upper-roman;
}
